:host {
  display: block;
  position: relative;
  background: lightgrey;
  padding: 8px;
  height: calc( 100vh - 64px);
}

.example-card {
  max-width: 600px;
}

mat-card {
  margin-bottom: 10px;
}

.card-wrapper {
  display: flex;
}

.image-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  img {
    display: block;
    position: relative;
    background-size: 100% auto;
    top: 15px;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
