:host {
  display: block;
  position: relative;
  background: lightgrey;
  padding: 8px;
  height: calc( 100vh - 64px);
}

.example-card {
  max-width: 600px;
}

mat-card {
  margin-bottom: 10px;
}

.card-wrapper {
  display: flex;
}

.image-wrapper {
  background-size: cover;
  width: 150px; // например
  height: 200px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
