<div class="favorites">
  <div *ngIf="!favoritesService.favoritesList?.value || favoritesService.favoritesList?.value?.length === 0; else notEmptyList">
    Список пуст
  </div>

  <ng-template #notEmptyList>
    <app-spinner [showSpinner]="showSpinner"></app-spinner>
    <cdk-virtual-scroll-viewport style="height: 90vh" itemSize="50" class="example-viewport">
      <mat-card class="example-card" *cdkVirtualFor="let item of favoritesService.favoritesList?.value">
        <div class="card-wrapper">
          <div class="image-wrapper">
            <img mat-card-image [src]="item.Poster === 'N/A' ? '/assets/img/poster_none.png' : item.Poster" [alt]="item.Title">
          </div>
          <div class="content-wrapper">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{item.Title}}</mat-card-title>
              <mat-card-subtitle>{{item.Year}} г.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button color="primary" (click)="showFilmDetails(item.imdbID)">Посмотреть</button>
              <button mat-button color="warn" (click)="removeFilmFromFavorites(item.imdbID)">Удалить</button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </ng-template>


</div>
