<div mat-dialog-content>

  <mat-card class="example-card" id="filmDetailContent">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{data.res.Title}}</mat-card-title>
      <mat-card-subtitle>{{data.res.Year}} г. </mat-card-subtitle>
      <mat-card-subtitle>Страна: {{data.res.Country}}</mat-card-subtitle>
      <mat-card-subtitle>Режиссер: {{data.res.Director}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="data.res.Poster === 'N/A' ? '/assets/img/poster_none.png' : data.res.Poster" [alt]="data.res.Title">

    <mat-card-content>
      <p>
        {{data.res.Plot}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-button
        [color]="data.mode === filmDetailsMode.ReadyToRemove? 'warn' : 'primary'"
        [mat-dialog-close]="{id: data.res.imdbID, mode: data.mode}">
        {{data.mode === filmDetailsMode.ReadyToRemove ? 'Удалить' : 'Добавить'}}
      </button>
    </mat-card-actions>

  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Закрыть</button>
</div>
